.search-lot {
    min-width: 450px;
}

/* ----------------header-------------- */

.carpark-logo {
    position: fixed;
    top: 50px;
    left: 70px;
    width: 150px;
    height: auto;
}

/* ------------------content---------------- */

.content-title {
    color: #FA551D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


* {
    box-sizing: border-box;
}

form.search input[type=text] {
    padding: 10px 30px;
    font-size: 28px;
    height: 60px;
    float: left;
    width: 600px;
    color: #FA551D;
    background: #FFF2EE;
    border-radius: 30px;
    box-shadow: 3px 5px 5px rgba(250, 85, 29, 0.3);
}

form.search button {
    display: flex;
    position: relative;
    right: 55px;
    top: 5px;
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #FA551D;
    color: white;
    font-size: 32px;
    border-left: none;
    cursor: pointer;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

form.search button:hover {
    background: #FA551D;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}

form.search button i {
    display: flex;
}

.content-search-result {
    visibility: hidden;
}

.search-result {
    width: 300px;
    background-color: white;
    color: #FA551D;
    box-shadow: 3px 5px 5px rgba(250, 85, 29, 0.3);
    border: #FA551D 1px solid;
    padding: 15px;
    border-radius: 10px;  
}

.search-result:hover {
    background-color:#FA551D;
    color: white;
    transition-duration: 0.5s;
}

/* ------------------footer-------------- */

.footer-link-text {
    color: #FA551D;
}

.search-lot-footer {
    position: absolute;
    bottom: 70px;
}




/* ====================responsive================= */

@media (max-width: 800px) {
    form.search input[type=text] {
        width: 360px;
    }

    .carpark-logo {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 550px) {
    form.search input[type=text] {
        width: 240px;
    }

    .carpark-logo {
        left: 50%;
        transform: translate(-50%, 0%);
        width: 150px;
        height: auto;
    }

    .content-title {
        font-size: 48px !important;
    }
}

@media (max-width: 480px) {
    .footer-link {
        flex-direction: column;
    }
    
    .footer-link-text {
        margin: 10px 0 0;
    }
    
}


@media (min-width: 450px) {
    .search-lot {
        min-width: initial !important;
    }
}





/* ======================Payment====================== */

/* ---------------tab view--------------------- */

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    width: 50%;
    font-size: 24px;
}


.MuiButtonBase-root {
    width: 50%;
    font-size: 24px !important; 
}

